<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
	<listeners>
		<add name="GeneralLog"
		     type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     fileName="Log\Gaia.General.log" footer="" formatter="GeneralFormatter"
		     header="" rollFileExistsBehavior="Increment" rollInterval="Day"
		     maxArchivedFiles="5" />
		<add name="SchedulerLog"
		     type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     fileName="Log\Scheduler.log" footer="" formatter="SchedulerFormatter"
		     header="" rollFileExistsBehavior="Increment" rollInterval="Day" />
		<add name="MonitoringService"
		     type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     fileName="Log\MonitoringService.log" footer="" formatter="GeneralFormatter"
		     header="" rollInterval="Day" />
		<add name="ErrorLog"
		     type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		     fileName="Log\Gaia.Error.log" formatter="ErrorFormatter"
		     rollInterval="Day" />
	</listeners>
	<formatters>
		<add
			type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			template="{timestamp}	[{priority}]	[{category}]	[{severity}]	[{localMachine}]	[{localProcessName}]	{title}	{message}"
			name="GeneralFormatter" />
		<add
			type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
			name="ErrorFormatter" />
		<add
			type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			template="{timestamp} [{severity}] {message}" name="SchedulerFormatter" />
	</formatters>
	<categorySources>
		<add switchValue="All" name="General">
			<listeners>
				<add name="GeneralLog" />
			</listeners>
		</add>
		<add switchValue="All" name="MonitoringService">
			<listeners>
				<add name="MonitoringService" />
			</listeners>
		</add>
		<add switchValue="All" name="Scheduler">
			<listeners>
				<add name="SchedulerLog" />
			</listeners>
		</add>
	</categorySources>
	<specialSources>
		<allEvents switchValue="All" name="All Events" />
		<notProcessed switchValue="All" name="Unprocessed Category">
			<listeners>
				<add name="GeneralLog" />
			</listeners>
		</notProcessed>
		<errors switchValue="All" name="Logging Errors &amp; Warnings">
			<listeners>
				<add name="ErrorLog" />
			</listeners>
		</errors>
	</specialSources>
</loggingConfiguration>