<exceptionHandling>
	<exceptionPolicies>
		<add name="Policy">
			<exceptionTypes>
				<add name="All Exceptions"
				     type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				     postHandlingAction="NotifyRethrow" />
			</exceptionTypes>
		</add>
	</exceptionPolicies>
</exceptionHandling>