<?xml version="1.0" encoding="utf-8"?>

<quartz>
	<add key="quartz.scheduler.instanceName" value="GaiaScheduler" />
	<add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
	<add key="quartz.threadPool.threadCount" value="10" />
	<add key="quartz.threadPool.threadPriority" value="Normal" />

	<add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
	<add key="quartz.scheduler.exporter.port" value="555" />
	<add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler" />
	<add key="quartz.scheduler.exporter.channelType" value="tcp" />
	<add key="quartz.scheduler.exporter.channelName" value="httpQuartz" />
	<add key="quartz.scheduler.exporter.rejectRemoteRequests" value="false" />

	<!-- XML config - BEGIN -->
	<!-- -->
	<add key="quartz.plugin.xml.scanInterval" value="60" />
	<add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz"/>
	<add key="quartz.plugin.xml.fileNames" value="Config\quartzJobs.config"/>
	
	<!-- XML config - BEGIN -->

	<!-- this section configures the scheduler to use sql server ce as the jobstore
	<add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
	<add key="quartz.jobStore.dataSource" value="default" />
	<add key="quartz.dataSource.default.connectionString" value="server=(local);Database=GaiaJobStore;User=GaiaSiloUser;Password=GaiaSiloUserPWD;" />
	<add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
	<add key="quartz.jobStore.clustered" value="false" />
	<add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz" />
	<add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
	<add key="quartz.dataSource.default.provider" value="SqlServer-20" />
	<add key="quartz.jobStore.useProperties" value="true" /> 
	-->
</quartz>