<?xml version="1.0" encoding="UTF-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
										 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
										 version="2.0">
	<processing-directives>
		<overwrite-existing-data>true</overwrite-existing-data>
	</processing-directives>
	<schedule>
		<job>
			<name>TEST_JOB</name>
			<group>TEST_GROUP</group>
			<description>Test Job Description</description>
			<job-type>Namespace.TestJob, TestAssembly</job-type>
			<durable>true</durable>
			<recover>false</recover>
		</job>
		<trigger>
			<cron>
				<name>TEST_TRIGGER</name>
				<group>TEST_GROUP</group>
				<description>Test trigger description</description>
				<job-name>TEST_JOB</job-name>
				<job-group>TEST_GROUP</job-group>
				<misfire-instruction>SmartPolicy</misfire-instruction>
				<cron-expression>13 * * * * ?</cron-expression>
				<!-- every 13th second in minute -->
				<job-data-map>
					<entry>
						<key>TaskCategory</key>
						<value>SampleCategory</value>
					</entry>
				</job-data-map>
			</cron>
		</trigger>
		<trigger>
			<cron>
				<name>TEST_TRIGGER_1</name>
				<group>TEST_GROUP</group>
				<description>Test grigger 1 description</description>
				<job-name>TEST_JOB</job-name>
				<job-group>TEST_GROUP</job-group>
				<misfire-instruction>SmartPolicy</misfire-instruction>
				<cron-expression>20 * * * * ?</cron-expression>
				<!-- every 20th seconds in minut-->
				<job-data-map>
					<entry>
						<key>TaskCategory</key>
						<value>AnotherSampleCategory</value>
					</entry>
				</job-data-map>
			</cron>
		</trigger>
	</schedule>
</job-scheduling-data>