<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<sectionExtension
		type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

	<alias alias="IMonitoringService"
	       type="Gaia.Core.Wcf.Services.IMonitoringService, Gaia.Core.Wcf.Services" />
	<alias alias="IWorkflowManager" type="Gaia.Core.Workflows.IWorkflowManager, Gaia.Core.Workflows" />

	<container>
		<extension type="Interception" />
		<extension type="Gaia.Core.IoC.WF.WorkflowExtension, Gaia.Core" />

		<register type="IWorkflowManager" mapTo="Gaia.Core.Workflows.WorkflowManager, Gaia.Core.Workflows" />
		<register type="IMonitoringService"
		          mapTo="Gaia.Core.Wcf.Services.MonitoringService, Gaia.Core.Wcf.Services" />
		
		<!-- WORKFLOW ACTIVITIES -->
		<register name="SampleCategory"
			type="NameSpace.Test1.TestWorkflow, SampleAssembly"/>
		<register name="AnotherSampleCategory"
			type="NameSpace.Test2.Workflows.TestWorkflow, AnotherSampleAssembly" />		
	</container>
</unity>