<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<alias alias="ITestInterface"
	       type="Gaia.Core.Tests.TestObjects.ITestInterface, Gaia.Core.Tests" />

	<container>
		<register type="ITestInterface" mapTo="Gaia.Core.Tests.TestObjects.TestObject, Gaia.Core.Tests" />
		
		<!-- WORKFLOW ACTIVITIES -->
		<!--
		<register name="SampleCategory"
			type="NameSpace.Test1.TestWorkflow, SampleAssembly"/>
		<register name="AnotherSampleCategory"
			type="NameSpace.Test2.Workflows.TestWorkflow, AnotherSampleAssembly" />		
			-->
	</container>
</unity>