<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="loggingConfiguration"
		         type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		         requirePermission="true" />
		<section name="exceptionHandling"
		         type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		         requirePermission="true" />
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Gaia.Samples.Service.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="GeneralLog"
			     type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			     fileName="Logs/General.log" footer="" formatter="GeneralFormatter"
			     header="" rollFileExistsBehavior="Increment" rollInterval="Day"
			     maxArchivedFiles="5" />
			<add name="ErrorLog"
			     type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			     fileName="Logs/Error.log" formatter="ErrorFormatter"
			     rollInterval="Day" />
			<add name="ConsoleTraceListener"
			     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			     type="Gaia.Core.EnterpriseLibrary.Logging.ConsoleTraceListener, Gaia.Core.EnterpriseLibrary, Culture=neutral, PublicKeyToken=null"
			     formatter="ConsoleFormatter" />
		</listeners>
		<formatters>
			<add
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				template="{timestamp}	[{priority}]	[{category}]	[{severity}]	[{localMachine}]	[{localProcessName}]	{title}	{message}"
				name="GeneralFormatter" />
			<add
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
				name="ErrorFormatter" />
			<add
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				template="{timestamp}	[{severity}]	{category}	{message}" name="ConsoleFormatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="GeneralLog" />
					<add name="ConsoleTraceListener" />
				</listeners>
			</add>
			<add switchValue="All" name="BusinessLogging">
				<listeners>
					<add name="GeneralLog" />
					<add name="ConsoleTraceListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="GeneralLog" />
					<add name="ConsoleTraceListener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="ErrorLog" />
					<add name="ConsoleTraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="GeneralPolicy">
				<exceptionTypes>
					<add name="All Exceptions"
					     type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					     postHandlingAction="NotifyRethrow" />
				</exceptionTypes>
			</add>
			<add name="UIPolicy">
				<exceptionTypes>
					<add name="All Exceptions"
					     type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					     postHandlingAction="None" />
				</exceptionTypes>
			</add>
			<add name="SwallowUp">
				<exceptionTypes>
					<add name="All Exceptions"
					     type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					     postHandlingAction="None" />
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<applicationSettings>
		<Gaia.Samples.Service.Properties.Settings>
			<setting name="PluginsConfiguration" serializeAs="Xml">
				<value>
					<plugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<!--<plugin name="Scheduler" type="Gaia.Service.Plugins.Scheduler.SchedulerPlugin, Gaia.Service.Plugins.Scheduler" />-->
					</plugins>
				</value>
			</setting>
			<setting name="WcfServicesConfiguration" serializeAs="Xml">
				<value>
					<serviceHosts xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
				</value>
			</setting>
		</Gaia.Samples.Service.Properties.Settings>
	</applicationSettings>
</configuration>